@import url(//db.onlinewebfonts.com/c/e5f78b4fb90a80a32be156470cbfead1?family=Avenir+LT+Pro);

.contact-form-fields{
    display: flex;
    padding:30px 0;
    
}

.contact-form-columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0 10px;
    font-family:'Avenir LT Pro';
    color:#e3d5c8;
    font-size: 15px;
}

.contact-form-btn{
    width:fit-content;
    background-color: #fff;
    padding:5px 25px ;
    color:rgb(151,80,48)
    
}

.contact-form-columns input, textarea{
    padding:5px 10px;
    background:#fff;
    border: 1px solid rgb(151,80,48);
    outline: none;
    color:#000000;
    border-radius: 5px;
    padding:5px 10px
}

@media screen and (max-width:700px) {
    .contact-form-fields{
        padding:0;
        padding-top:10px
       
    }
    .contact-form-columns{
        display:block
    }
}